<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отзывы покупателей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    body{background-color: #bfbfbf;}
    </style>
</head>
<body>
<div th:insert="blocks/header :: header" ></div>
<div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2 bg-dark text-white " >
        <h3 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <p><b>Просмотры </b> <span th:text="${el.views}"/></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning" >Редактировать</a><br><br>

        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-danger" type="submit" >Удалить</button>
        </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer" ></div>
</body>>
</html>