<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    body{background-color: #bfbfbf;}
    </style>
</head>
<body>
<div th:insert="blocks/header :: header" ></div>
<div class="container mt=5 mb-3">
    <h1> Редактор отзыва</h1>
    <div th:each="el : ${post}">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Введите заголовок отзыва" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите краткое описание" class="form-control"><br>
            <textarea name="full_text" placeholder="Введите ваш отзыв" class="form-control" th:text="${el.full_text}" /><br>
            <button type="submit" class="btn btn-success">Обновить отзыв</button>
        </form>
    </div>>
</div>
<div th:insert="blocks/footer :: footer" ></div>
</body>>
</html>